<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>{%block title %}RJBCL Dashboard {%endblock%}</title>
        {% include 'partials/_css.html' %}
    </head>
    <body class="sb-nav-fixed">
        {%block navbar%} {%include 'partials/_navbar.html' %} {%endblock%}
        <div id="layoutSidenav">
            {%block sidebar %} {%include 'partials/_sidebar.html' %} {%endblock sidebar %}

            {%block content%}

                {%include 'partials/contentExample.html' %}

            {%endblock content %}
        </div>
       {% include 'partials/_js.html' %}
    </body>
</html>
