{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>Login | राष्ट्रिय जीवन बीमा कम्पनी लिमिटेड</title>

    <!-- Bootstrap -->
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="icon" href="{% static 'images/favicon-logo.png' %}" type="image/png">

    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-icons.min.css' %}">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/colors.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>

<body>
    <div class="hero-8">
        <div class="login-wrapper">
            <!-- Left Hero Section -->

            <div class="hero-section">
                <div class="hero-content">
                    <h1 class="hero-title">लगइन प्रक्रिया</h1>

                    <div class="hero-description">
                        <div class="instruction-section">
                            <h3 class="section-title">लगइन :</h3>
                            <p>आफ्नो बीमा लेख नम्बर (Policy Number) र पासवर्ड प्रयोग गरी लगइन गर्नुहोस्।</p>
                        </div>

                        <div class="instruction-section">
                            <h3 class="section-title">पासवर्ड नभए वा बिर्सिएमा:</h3>
                            <p>'Forgot Password’ मा क्लिक गरेर आफ्नो Policy Number र जन्ममिति प्रयोग गरी नयाँ पासवर्ड बनाउनुहोस्।</p>
                        </div>

                        <div class="instruction-section highlight">
                            <h3 class="section-title">लगइनका लागि वैकल्पिक माध्यम:</h3>
                            <p>यदि तपाईंसँग लगइन विवरण छैन भने, 'Login' बटन मुनि रहेको 'Continue without
                                Login' विकल्पमा क्लिक गर्नुहोस्। त्यहाँ आफ्नो बीमा लेख नम्बर र जन्म मिति राखेर
                                लगइन गरी KYC फारम बुझाउन सक्नुहुनेछ।</p>
                        </div>

                        <div class="instruction-section">
                            <h3 class="section-title">मोबाइल वा इमेल दर्ता नभएमा:</h3>
                            <p>यदि बीमा लेख जारी गर्दा तपाईंको आफ्नै मोबाइल नम्बर वा इमेल दर्ता गरिएको छैन भने:</p>
                            <ul class="contact-list">
                                <li>मुख्य कार्यालयको फोन नं. <strong>+९७७-०१-५३६२५२०</strong> (एक्स्टेन्सन २१६) मा
                                    सम्पर्क गर्नुहोस्, अथवा</li>
                                <li>आफ्नो नजिकैको शाखा कार्यालयमा स्वयम् उपस्थित भई आफू नै सम्बन्धित व्यक्ति भएको
                                    प्रमाणित (Verify) गरी, आफूले प्रयोग गरिरहेको मोबाइल नम्बरको स्व-घोषणा (Self
                                    Declaration) फारम भरी विवरण अध्यावधिक (Update) गराउनुहोस्।</li>
                            </ul>
                        </div>

                        <div class="instruction-section">
                            <h3 class="section-title">थप जानकारी तथा शाखा सम्पर्क:</h3>
                            <p>अन्य कुनै समस्या वा थप स्पष्टताका लागि आफ्नो नजिकैको शाखा कार्यालयमा सम्पर्क राख्न
                                सक्नुहुनेछ। सबै शाखा कार्यालयहरूको फोन नम्बर र इमेल विवरणका लागि हाम्रो वेबसाइटको <a
                                    href="https://rbs.gov.np/branch-network" class="hero-link"
                                    target="_blank">rbs.gov.np/branch-network</a> पेजमा जान सक्नुहुनेछ।</p>
                        </div>
                    </div>

                    <!-- <a href="https://rbs.gov.np/branch-network" class="btn-explore" target="_blank">For further information</a> -->
                </div>
                <div class="hero-overlay"></div>
            </div>

            <!-- Right Login Section -->
            <div class="login-section col-sm-12">
                <div class="login-card">
                    <div class="login-header">
                        <img src="{% static 'images/rjbclogo.png' %}" alt="RJBCL Logo" class="company-logo">
                    </div>

                    <!-- Tab Buttons -->
                    <div class="tab-buttons">
                        <button type="button" class="tab-btn active" data-tab="policy">
                            Policy Holder
                        </button>
                        <button type="button" class="tab-btn" data-tab="agent">
                            Agent
                        </button>
                    </div>

                    <!-- Django Messages -->
                    {% if messages %}
                    {% for message in messages %}
                    <div class="message-box {% if 'success' in message.tags %}success-box{% else %}error-box{% endif %}"
                        style="display: block;">
                        {{ message }}
                    </div>
                    {% endfor %}
                    {% endif %}

                    <!-- POLICY HOLDER LOGIN FORM -->
                    <div class="form-container active" id="policyFormWrapper">
                        <form id="policyForm" method="POST" action="{% url 'kyc:policy_login' %}" autocomplete="off">
                            {% csrf_token %}

                            <!-- Autofill blockers -->
                            <input type="text" name="fakeusernameremembered" style="display:none" tabindex="-1">
                            <input type="password" name="fakepasswordremembered" style="display:none" tabindex="-1">

                            <div class="form-group">
                                <label class="form-label">Policy Number</label>
                                <input class="form-control" name="policy_no" id="policy-number"
                                    placeholder="300XXXXXXX" autocomplete="off" required>
                            </div>

                            <div class="form-group">
                                <label class="form-label">Password</label>
                                <div class="password-wrapper">
                                    <input class="form-control" name="password" type="password" id="policyPassword"
                                        placeholder="••••••••" autocomplete="new-password" required>
                                    <button type="button" class="toggle-password" data-target="policyPassword">
                                        <i class="bi bi-eye"></i>
                                    </button>
                                </div>
                            </div>

                            <div class="form-footer mb-2">
                                <div></div>
                                <a href="/forgot-password/?type=policy" class="forgot-link">
                                    Forgot password?
                                </a>
                            </div>

                            <button type="submit" class="btn-signin">
                                Log in
                            </button>

                            <div class="divider">
                                <span>OR</span>
                            </div>

                            <div class="form-links">
                                <p class="register-link">
                                    <a href="{% url 'kyc:direct_kyc_entry' %}">Continue Without Login</a>
                                    <br>

                                </p>
                            </div>

                        </form>
                    </div>

                    <!-- AGENT LOGIN FORM -->
                    <div class="form-container" id="agentFormWrapper">
                        <form id="agentForm" method="POST" action="{% url 'kyc:agent_login' %}" autocomplete="off">
                            {% csrf_token %}

                            <!-- Autofill blockers -->
                            <input type="text" name="fakeusernameremembered" style="display:none" tabindex="-1">
                            <input type="password" name="fakepasswordremembered" style="display:none" tabindex="-1">

                            <div class="form-group">
                                <label class="form-label">Agent Code</label>
                                <input class="form-control" name="agent_code" id="agent-code" placeholder="Agent Code"
                                    autocomplete="off" required>
                            </div>

                            <div class="form-group">
                                <label class="form-label">Password</label>
                                <div class="password-wrapper">
                                    <input class="form-control" name="password" type="password" id="agentPassword"
                                        placeholder="••••••••" autocomplete="new-password" required>
                                    <button type="button" class="toggle-password" data-target="agentPassword">
                                        <i class="bi bi-eye"></i>
                                    </button>
                                </div>
                            </div>

                            <div class="form-footer mb-2">
                                <div>
                                    <span class="error-message text-danger "></span>
                                </div>
                                <a href="/forgot-password/?type=agent" class="forgot-link">
                                    Forgot password?
                                </a>
                            </div>

                            <button type="submit" class="btn-signin">
                                Sign in
                            </button>

                            <div class="divider">
                                <span>OR</span>
                            </div>

                            <div class="form-links">
                                <p class="register-link">
                                    New Agent :<a href="{% url 'kyc:policy_register' %}?tab=agent"> Register</a>
                                </p>
                            </div>
                        </form>
                    </div>

                    <div class="login-footer">
                        <p>© 2025 RJBCL. All rights reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Active tab passed to JS -->
    <script>
        window.activeTab = "{{ active_tab }}";
    </script>

    <!-- jQuery -->
    <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'js/nepali.datepicker.v5.0.6.min.js' %}"></script>

    <!-- Custom JS -->
    <script src="{% static 'js/login.js' %}"></script>

</body>

</html>